.body {
  width: 100%;
  height: 100vh;
  font-family: "Inconsolata", sans-serif;
}
.App-css{
  background-color:#fdf5e6!important;
}
.Header-css{
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.Header-text{
  color: #fff;
  text-decoration: none;
  padding:8px 16px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  font-size: 12px;
  font-weight: 400;
}
.Header-text:hover{
  background-color:#ccc;
  color: #000000;
}
.Menu-text:hover{
  background-color: #616161!important;
  color: #000000;
}
.Main-css{
  background-image:  url("./Images/coffeehouse.jpg");
  background-size: cover;
  background-position: center;
  min-height: 416px;
  width: 100%;
   display: flex;
   justify-content: space-between;
   background-repeat: no-repeat;
   align-items: flex-end;
   filter: grayscale(75%);
   
}
.Main-text{
 background-color: #000000;
 color: #fff;
 padding-left: 8px;
 padding-right: 8px; 
 margin-left: 8px; 
 }
.Main-text2{
  color: #fff;
  padding-right: 8px;

}
.Main-text1{
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-size: 90px;
}
.Main{
  display: flex;
  /* align-items: flex-start; */
  
}
.MainAbout-css,.MainMenu-css,.MainWhere-css{
  max-width: 700px;
  margin-right: auto;
  margin-left:auto;
  font-size: 18px;
  color: #000000;
  padding-right: 10px;
  padding-left: 10px;
}
.AboutHeading-css,.MenuHeading-css,.WhereHeading-css{
  padding-top: 16px;
  padding-bottom:16px;
  text-align: center;
}
.AboutHeadingText-css,.MenuHeadingText-css,.WhereHeadingText-css{
  padding-left: 8px;
  padding-right: 8px;
  background-color:#000000;
  color: #ffff;
  font-size: 20px;
    font-weight: 400;
}
.ImageAbout-css,.ImageMenu-css,.ImageWhere-css{
 width: 100%;
}
.AboutContainer-css{
  border-left: 6px solid gray;
  background-color: #ccc;
}
.container-css{
  filter:grayscale(75%)
}
.Menu-text{
 color: #000000;
 text-decoration: none;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
.MenuChart-css{
  display: flex;
  justify-content: space-around;
  border: 2px solid #ccc;
  padding-right:8px;
  padding-left: 8px;
  box-shadow:0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.Menu-css{
  border: 3px solid #ccc;
  padding:8px;
  margin-bottom: 25px;
  line-height: 1.5;
   padding-top: 10px;
   padding-bottom: 10px;
}
.Menu-title{
  font-weight: 400;
  font-size:18px;
  margin: 16px 0px ;
}
.Menu-description{
  color:#757575!important;
}
.Text{
  background-color:#000000;
  color: #ffff;
  padding-left:8px;
  padding-right: 8px;
  font-weight: 400;
}
.btn-css{
 background-color: #000000;
 color: #ffff;
 padding: 16px;
 font-size: 15px;
}
.inp-text-css{
  width: 100%;
  padding:32px 0px;
  font-size:15px;
}
.MainFooter-css{
  background-color: #f1f1f1!important;
  padding:64px;
  text-align: center;
  margin-top:20px
}
.FooterText-css{
  color: #000000;
  text-decoration: none;
}
.form-css{
  margin: 10px;
}
@media only screen and (max-width:600px){
  .Main-text{
    display: none;
  }
.Main-css{
  flex-direction: column;
  align-items: center;
}
}
